<!DOCTYPE html>
<html lang="en">
     <!-- HEAD -->
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colombia Corre </title>
    
</head>
     <!-- BODY -->
<body>
       <!-- HEADER -->
  <header>
        <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <h1><strong>COLOMBIA CORRE</strong></h1>
          <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="inline-list">
             <span> <a class="nav-link" aria-current="page" href="#">Home</a></span>
             <span><a class="nav-link" href="#">Features</a> </span>
             <span><a class="nav-link" href="#">Pricing</a></span> 
             <span><a class="nav-link" href="#">About</a></span>
            </div>
            
          </ul>
          </div>
       </div>
        </nav>
        <!-- Navbar -->
      
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/066.webp');
            height: 400px;" >
          <div class="mask" style="background-color: rgba(14, 243, 6, 0.2);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">COLOMBIA CORRE 2023/24</h1>
                <h4 class="mb-3">Estamos listos para correr en todos los lugares del país</h4>
                
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->

    </header>
                      <!-- MAIN -->
      <main>
        <section>
    <h1>Carreras de colombia durante el presente año </h1>
    <img src="/assest/img/col.png" alt="nada"> 


    <nav>
      <h2>CARRERAS 2023</h2>
      <img src="/images/col.png" alt="."> <img src="/assest/image/col.png" alt="..">
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="URL_del_primer_enlace">Pasadas</a></li>
          <li class="list-group-item"><a href="URL_del_segundo_enlace">Octubre</a></li>
          <li class="list-group-item"><a href="URL_del_tercer_enlace">Noviembre</a></li>
          <li class="list-group-item"><a href="URL_del_cuarto_enlace">Diciembre</a></li>
          <li class="list-group-item"><a href="URL_del_quinto_enlace">2024</a></li>
      </ul>
  </nav>
  </section>
    </main>

                           <!-- FOOTER -->
      <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
           <!-- Grid container -->
               <div class="container p-4"></div>
                            <!-- Grid container -->
                          
                            <!-- Copyright -->
       <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
           <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
           </div>
                            <!-- Copyright -->
    </footer>
</body>

</html>